/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #FF0070;
  --text-color: #000028;
  --article-color: #F1B2CE;
  --header-color: #db00ff;
  --hover-color:  #ff007080;
  --active-color: #ff0070;
  --focus-color: #ff0070;

  --page-font-size: 18px;
  --page-font-family: "IBM Plex mono", monospace;
  --line-height-small: 18px;
  --line-height-medium: 23.4px;
  --line-height-large: 82.5%;

  --gap-small: 10px;
  --gap-medium: 20px;

  --page-background-image: url(../images/cover-image-dark.png);

}

.theme-dark .page {
  .rec {
    display: flex;
  }
}
