/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --text-color: #353430;
  --header-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --article-color: #353430;
  --page-background-color: #FFC2E6;
  --page-background-image: url("../images/cover-image-light.png");
}

.theme-light .page {

  .rec {
    display: none;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --header-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --article-color: #353430;
    --page-background-color: #FFC2E6;
    --page-background-image: url("../images/cover-image-light.png");
  }

  
  .rec {
    display: none;
  }

} 